body {
  image-rendering: pixelated;
}

.grid-bg {
  background-color: #92deff;
  background-image: url(../assets/NewYourNameGrid.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  image-rendering: pixelated;
}

.health-wheel {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity)) /* #000000 */;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
  --tw-gradient-from: #e0c0a0 var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(152 160 128 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from),
    #fff var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.footer {
  background: linear-gradient(to top, black 35%, transparent 35%);
}

.console-depth {
  filter: drop-shadow(0rem 2.5rem 0 black);
}
.start-depth {
  filter: drop-shadow(0px 3px 0 black);
}
.button-depth {
  filter: drop-shadow(0px 7px 0 black);
}
.button-depth-up {
  filter: drop-shadow(0px 0px 0 black);
}
.button-depth-right {
  filter: drop-shadow(0px 7px 0 black);
}

.button {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.button-link {
  outline: aqua solid 2px;
}

.button-link:hover {
  outline: gold solid 3px;
}

.button-link:hover {
  outline: gold solid 3px;
}

.button-link:hover {
  outline: gold solid 3px;
}

.pixelated {
  image-rendering: pixelated;
}
.crisp-edges {
  image-rendering: crisp-edges;
}

.column {
  float: left;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column_container {
  width: fit-content;
  margin: auto;
}

.button-container {
  position: relative;
}

/* EarthBound font and border stuff */

/* <div class="flav-wrap">
<div class="plain1">
  <div class="plain2">
    <div class="plain3">
      <div class="plain4">
        <div class="plain5">
          &#8226;
        </div>
      </div>
    </div>
  </div>
</div>
</div> */

/* <div class="flav-wrap">
<div class="mint1">
  <div class="mint2">
    <div class="mint3">
      <div class="mint4">
          &#8226;
      </div>
    </div>
  </div>
</div>
</div> */

@font-face {
  font-family: AppleKid;
  src: url("../assets/woff/Apple-Kid.woff2") format("woff2"),
    url("../assets/woff/Apple-Kid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Motherish;
  src: url("../assets/woff/Motherish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: SMB3;
  src: url(/assets/woff/Super-Mario-Bros--3.woff);
}

@font-face {
  font-family: BitCell;
  src: url(/assets/woff/bitcell_memesbruh03.woff);
}

@font-face {
  font-family: WithheldData;
  src: url(/assets/woff/Withheld\ Data.woff);
}

@font-face {
  font-family: FoxCavalier;
  src: url(/assets/woff/Fox\ Cavalier.woff);
}

@font-face {
  font-family: Beta;
  src: url(/assets/woff/Beta.woff);
}

.apple-kid {
  font-family: AppleKid;
  font-size: 32px;
}

.motherish {
  font-family: Motherish;
}

.smb3 {
  font-family: SMB3;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  color: white;
}

.bitcell {
  font-family: BitCell;
}

.withheld {
  font-family: WithheldData;
}

.cavalier {
  font-family: FoxCavalier;
}

.beta {
  font-family: Beta;
}

.flav-wrap {
  margin-top: 0.583em;
  margin-bottom: 0.583em;
  margin-left: 0.2915em;
  margin-right: 0.2915em;
  width: fit-content;
  font-family: AppleKid;
  font-size: x-large;
}

.link {
  color: #67e8f9;
}

.link:hover {
  color: #06b6d4;
}

.link:visited {
  color: #f9a8d4;
}

.link:hover:visited {
  color: #ec4899;
}

.roster-category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  justify-content: center;
  gap: 1.25rem;
}

.roster-subcategory {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 1.25rem;
}

/* Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  selector {
    property: value;
  }

  .plain1 {
    outline: black 0.106em solid;
    border-radius: 0.1rem;
  }

  .plain2 {
    outline: darkgrey 0.16em solid;
    border-radius: 0.1rem;
  }

  .plain3 {
    outline: white 0.212em solid;
    border-radius: 0.1rem;
  }

  .plain4 {
    outline: darkgrey 0.265em solid;
    border-radius: 0.1rem;
  }

  .plain5 {
    outline: black 0.318em solid;
    border-radius: 0.1rem;
    padding-top: 0.212em;
    padding-bottom: 0.265em;
    padding-left: 0.16em;
    padding-right: 0.16em;
    background-color: black;
    color: white;
    line-height: 0.954em;
  }

  .mint1 {
    outline: 0.212em solid;
    outline-color: #6bd6bd;
    border-radius: 0.1rem;
  }

  .mint2,
  .nut2 {
    outline: 0.265em solid;
    outline-color: #ffefad;
    border-radius: 0.1rem;
  }
  .mint3 {
    outline: 0.318em solid;
    border-radius: 0.1rem;
    padding: 0.16em;
    outline-color: #393152;
    background-color: #393152;
  }

  .mint4,
  .straw4,
  .nana4,
  .nut4 {
    padding-bottom: 0.106em;
    padding-top: 0.053em;
    line-height: 0.954em;
    background-color: #290829;
    color: #e9e7b4;
  }

  .straw1 {
    outline: 0.212em solid;
    outline-color: #ff94ad;
    border-radius: 0.1rem;
  }

  .straw2 {
    outline: 0.265em solid;
    outline-color: #ffefce;
    border-radius: 0.1rem;
  }

  .straw3 {
    outline: 0.318em solid;
    outline-color: #42214a;
    border-radius: 0.1rem;
    padding: 0.16em;
    background-color: #42214a;
  }

  .nana1 {
    outline: 0.318em solid;
    outline-color: #4a3152;
    outline: 0.212em solid;
    outline-color: #efff5a;
    border-radius: 0.1rem;
  }

  .nana2 {
    outline: 0.265em solid;
    border-radius: 0.1rem;
    outline-color: #ffffd6;
  }

  .nana3 {
    outline: 0.318em solid;
    outline-color: #4a3152;
    border-radius: 0.1rem;
    padding: 0.16em;
    background-color: #4a3152;
  }

  .nut1 {
    outline: 0.212em solid;
    outline-color: #e7a552;
    border-radius: 0.1rem;
  }

  .nut3 {
    outline: 0.318em solid;
    outline-color: #421829;
    border-radius: 0.1rem;
    padding: 0.16em;
    background-color: #421829;
  }

  .hurt1 {
    outline: 0.212em solid;
    outline-color: #c04048;
    border-radius: 0.1rem;
  }

  .hurt2 {
    outline: 0.265em solid;
    outline-color: #f8d090;
    border-radius: 0.1rem;
  }

  .hurt3 {
    outline: 0.318em solid;
    outline-color: #702848;
    border-radius: 0.1rem;
    padding: 0.16em;
    background-color: #702848;
  }

  .hurt4 {
    padding-bottom: 0.106em;
    padding-top: 0.053em;
    line-height: 0.954em;
    background-color: #290829;
    color: #f88058;
  }
}

/* Mozilla */
@supports (-moz-appearance: none) {
  selector {
    property: value;
  }

  .plain1 {
    outline: black 0.318em solid;
    border-radius: 0.1rem;
  }

  .plain2 {
    outline: darkgrey 0.265em solid;
    border-radius: 0.1rem;
  }

  .plain3 {
    outline: white 0.212em solid;
    border-radius: 0.1rem;
  }

  .plain4 {
    outline: darkgrey 0.16em solid;
    border-radius: 0.1rem;
  }

  .plain5 {
    outline: black 0.106em solid;
    border-radius: 0.1rem;
    padding-top: 0.212em;
    padding-bottom: 0.265em;
    padding-left: 0.16em;
    padding-right: 0.16em;
    background-color: black;
    color: white;
  }

  .mint1 {
    outline: 0.318em solid;
    border-radius: 0.1rem;
    outline-color: #393152;
  }

  .mint2,
  .nut2 {
    outline: 0.265em solid;
    border-radius: 0.1rem;
    outline-color: #ffefad;
  }

  .mint3 {
    outline: 0.212em solid;
    border-radius: 0.1rem;
    padding: 0.16em;
    outline-color: #6bd6bd;
    background-color: #393152;
  }

  .mint4,
  .straw4,
  .nana4,
  .nut4 {
    padding-bottom: 0.106em;
    padding-top: 0.053em;
    line-height: 0.954em;
    background-color: #290829;
    color: #e9e7b4;
  }

  .straw1 {
    outline: 0.318em solid;
    border-radius: 0.1rem;
    outline-color: #42214a;
  }

  .straw2 {
    outline: 0.265em solid;
    border-radius: 0.1rem;
    outline-color: #ffefce;
  }

  .straw3 {
    outline: 0.212em solid;
    border-radius: 0.1rem;
    padding: 0.265em;
    outline-color: #ff94ad;
    background-color: #42214a;
  }

  .nana1 {
    outline: 0.318em solid;
    border-radius: 0.1rem;
    outline-color: #4a3152;
  }

  .nana2 {
    outline: 0.265em solid;
    border-radius: 0.1rem;
    outline-color: #ffffd6;
  }

  .nana3 {
    outline: 0.212em solid;
    border-radius: 0.1rem;
    padding: 0.265em;
    outline-color: #efff5a;
    background-color: #4a3152;
  }

  .nut1 {
    outline: 0.318em solid;
    border-radius: 0.1rem;
    outline-color: #421829;
  }

  .nut3 {
    outline: 0.212em solid;
    border-radius: 0.1rem;
    padding: 0.265em;
    outline-color: #e7a552;
    background-color: #421829;
  }

  .hurt1 {
    outline: 0.318em solid;
    border-radius: 0.1rem;
    outline-color: #702848;
  }

  .hurt2 {
    outline: 0.265em solid;
    border-radius: 0.1rem;
    outline-color: #f8d090;
  }

  .hurt3 {
    outline: 0.212em solid;
    border-radius: 0.1rem;
    padding: 0.265em;
    outline-color: #c04048;
    background-color: #702848;
  }

  .hurt4 {
    padding-bottom: 0.106em;
    padding-top: 0.053em;
    line-height: 0.954em;
    background-color: #290829;
    color: #f88058;
  }
}
